body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
}

header, footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

h1, h2 {
  color: #f3e5f6;
}

.card {
  background-color: white;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.destaques {
  border: #e67e22 2px solid;
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  gap: 5%;
  flex-wrap: wrap;
  align-items: center;
  color: #e67e22;
  font-weight: bold;
}
/* no celular os cards devem ocupar 100% da largura com um gap de 5% entre eles */
.card-livro {
  display: flex;
    border: #333 2px solid;
    flex: 1 1 60%;
    min-width: 150px;
    max-width: 20%;
    margin-bottom: 5px;
}
.logo_retangular {
  min-width: 10%;
  max-width: 40%;
  height: auto;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.botao-login, .botao-carrinho {
  background-color: #e67e22;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.cabecalho div {
  display: flex;
  align-items:flex-start;
}
@media screen {
  
  
}